<html lang="en">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    @{ 

       
        int i;


        for (i = 12; i <= 42; i++)
        {

            if (i % 2 == 0)
            {

               <h2>@i</h2>
            }
           
        }
        }

</body>
</html>


